@font-face{
    
        font-family: 'Nunito';
        src:url(../Nunito/Nunito-Regular.ttf);
    
}

body,html{

    height: 100%;
    width: 100%;
    font-family: 'Nunito';
}

.carousel {

    height: 500px;
}

.carousel-inner{

    height: 80%;
    width: 100%;
    bottom: 0px;
    position: absolute;
}

.item{
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


#heading{

    z-index: 100;
    margin-top: 20px;
    position: absolute;
    width: inherit;

}

#carousel-example-generic{

    margin-top: 0px;
    position: relative;
}

.col-lg-4{
    
    text-align: center;
   margin-bottom: 20px; 
}

p{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.row{
    margin-top: 30px;
    margin-bottom: 30px;
}

.featurette-divider{
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 60px;
    margin-top: 60px;
}
#big-im{
    margin-right: 40px;
    margin-left: 40px;
}

footer{

    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 60px;
    margin-top: 60px;
}

